@font-face { 
    font-family: "Advent Pro";
    src: url("http://localhost/fonts/Advent_Pro/AdventPro-Regular.ttf");
}
@font-face { 
    font-family: Chewy;
    src: url("http://localhost/fonts/Chewy/Chewy.ttf");
}
@font-face { 
    font-family: Oxygen;
    src: url("http://localhost/fonts/Oxygen/Oxygen-Regular.ttf");
}